@charset "UTF-8";


#tryon_window{
    height: 5%;
    width: 5%;; 
    position: absolute;  
    overflow: hidden; 
    z-index: 999999; 
    right: 0px; 
    bottom: 0px;
    left: 80%;
}


#topbar {
    background-color: grey; /* Green */
            height: 100px;
}