@charset "UTF-8";


#tryon_window{
    visibility: hidden;
    height: 330px;
    width: 225px;; 
    position: absolute;  
    overflow: hidden; 
    z-index: 999999; 
    right: 0px; 
    bottom: 0px;
}
