@charset "UTF-8";


input[type="range"] {
	-webkit-appearance: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 50rem;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 2px 2px;
    
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #89B84C;
	border-radius: 50rem;
	height: 3em;
	width: 3em;
}


       input.number {width:80px;text-align: right;}
        .btn {
            background-color: white;
            color: black;
            border-radius: 100px;
            border: 3px solid #4CAF50; /* Green */
            height: 40px;
            width: 100px;
            font-size: 20px;
        }
         #buttonbar {
             width:140px;
             height: 760px;
             padding:10px;
             visibility: hidden;          
             position: absolute;
             top: 50%;
             left: 45%;
             margin: -400px 0 0 225px;
            
             border-left-width: 3px ;
             border-left-style: solid;
             border-left-color:#FFAC55;
             padding:20px;
             background-color: white;
            
        }
         #renderCanvas {
             border-width:medium;
             height: 800px;
             width: 450px;
             position: absolute;
             top: 50%;
             left: 45%;
             margin: -400px 0 0 -225px;
             background-color: white;
             
        }   
        #tryon {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
            border-radius: 20px;
            border: 2px solid #4CAF50; /* Green */
            height: 40px;
            width: 140px;
            position: absolute;
            top: 4%;
            left: 5%;
            font-size: 20px;
            transition-duration: 0.1s;
        }
        #tryon:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
         #close {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
            border-radius: 4px;
            border: 2px solid #4CAF50; /* Green */
            height: 40px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            margin: 340px 0 0 -50px;
            transition-duration: 0.1s;
        }
        #close:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
        #change {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
            border-radius: 4px;
            border: 2px solid #4CAF50; /* Green */
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            margin: 160px 0 0 -60px;
            transition-duration: 0.1s;
        }
        
        #change:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
         #change1 {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
            border-radius: 4px;
            border: 2px solid #4CAF50; /* Green */
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            margin: 160px 0 0 10px;
            transition-duration: 0.1s;
        }
        
        #change1:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
        #topbar {
            background-color: grey; /* Green */
            height: 100px;
        }

#tryon_window{
    visibility: hidden;
}
