@charset "UTF-8";

#renderCanvas {
             display:inherit;
             height: 640px;
             width: 360px;
             position: absolute;
             margin: 0px 0 0 86px;
             Top: 1.5%;
             left: 5%;
             background-color: gainsboro;
             
        }   

.btn {
    float: left;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 3px solid #4CAF50; 
    margin: 4px 0 0 5px;
    font-size: 20px;
    transition-duration: 0.1s;
    
}
.btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#btn-bar {
    max-width: 80px;
    max-height: 640px;
}
#main {
    border: 2px solid white; 
}

#body {
     display: none;
     text-align: center;
     height: 640px;
     width: 360px;
     position: absolute;
     margin: -650px 0 0 110px;
     
     
     
}


input[type="range"] {
	-webkit-appearance: none;
    width: 20em;
	border-width: px;
	border-style: solid;
	border-radius: 50rem;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 2px 2px;
    
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #89B84C;
	border-radius: 50rem;
	height: 2em;
	width: 2em;
}
